form.pure-form
    fieldset.pure-group

        input.pure-input-1-2.letter-box_reciever(type='email', placeholder='Кому')

        input.pure-input-1-2.letter-box_copy(type='text', placeholder='Копия')

        input.pure-input-1-2.letter-box_topic(type='text', placeholder='Тема')
    fieldset.pure-group.letter-box_letter
        textarea.pure-input-1-2
    button.pure-button(type='submit') Отмена
    button.pure-button(type='submit') Отправить
