form.pure-form.pure-form-aligned
    fieldset
        .pure-control-group
            input#name(type='text', placeholder='Sms Code')
            |
            span.pure-form-message-inline This is a required field.
        |

        .pure-controls
            button.pure-button.pure-button-primary(type='submit') Submit
